@import "./normalize.css";

/* 定义变量 */
:root {
  --color-text: red;
  --theme-color: rgb(191,51,78)
}

/* 使用变量 */
p {
  color: var(--color-text)
}

* {
  padding: 0;
  margin: 0;
}

html,body,#app {
  width: 100%;
  height: 100%;
}